@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    :root {
        font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
        line-height: 1.5;
        font-weight: 400;

        color-scheme: light dark;
        color: rgba(255, 255, 255, 0.87);
        background-color: #242424;

        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }


    @media (prefers-color-scheme: light) {
        :root {
            color: #213547;
            background-color: #ffffff;
        }

        a:hover {
            color: #747bff;
        }

        button {
            background-color: #f9f9f9;
        }
    }

    main {
        @apply p-4 grid grid-cols-1 gap-2 max-w-3xl mx-auto
    }

    h1 {
        @apply text-2xl font-bold leading-tight text-gray-900;
    }

}

@layer components {
    .button {
        @apply w-full bg-blue-500 text-white font-bold py-3 px-6 rounded-lg hover:bg-blue-600 transition duration-300 ease-in-out max-w-3xl;
    }

    @keyframes changeText {
        0%, 20% {
            opacity: 1;
            transform: translateY(0);
        }
        25%, 45% {
            opacity: 0;
            transform: translateY(-20px);
        }
        50%, 70% {
            opacity: 0;
            transform: translateY(20px);
        }
        75%, 100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .animate-text-change {
        animation: changeText 8s;
    }
}